Clients/FleetManagerClient/Connected Services/FuelingManagmentService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/FuelingManagmentService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetUsersResult" nillable="true" type="q1:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByLoginName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByLoginNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetUserByLoginNameResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="user" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="user" nillable="true" type="q4:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="user" nillable="true" type="q5:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetStationsResult" nillable="true" type="q6:ArrayOfStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsAmount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStationsAmountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetTagsResult" nillable="true" type="q7:ArrayOfTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetCitiesResult" nillable="true" type="q8:ArrayOfCity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="station" nillable="true" type="q9:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStationsTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationId" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="tags" nillable="true" type="q10:ArrayOfTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStationsTagsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="station" nillable="true" type="q11:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStationsTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationID" type="xs:int" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="tags" nillable="true" type="q12:ArrayOfTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStationsTagsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="station" nillable="true" type="q13:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFleets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFleetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetFleetsResult" nillable="true" type="q14:ArrayOfFleet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFleetsAmount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFleetsAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFleetsAmountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFleet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="fleet" nillable="true" type="q15:Fleet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFleetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUsersToFleet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="lstUsers" nillable="true" type="q16:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUsersToFleetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFleet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="fleet" nillable="true" type="q17:Fleet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFleetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFleet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="fleet" nillable="true" type="q18:Fleet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFleetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsAmount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductsAmountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetProductsResult" nillable="true" type="q19:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="product" nillable="true" type="q20:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="product" nillable="true" type="q21:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="product" nillable="true" type="q22:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFleetRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fleetId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFleetRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetFleetRulesResult" nillable="true" type="q23:ArrayOfRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRuleByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruleID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRuleByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetRuleByIDResult" nillable="true" type="q24:Rule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFleetRulesAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fleetId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFleetRulesAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFleetRulesAmountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="rule" nillable="true" type="q25:Rule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRuleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="rule" nillable="true" type="q26:Rule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRuleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="rule" nillable="true" type="q27:Rule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRuleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFleetCars">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fleetId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFleetCarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetFleetCarsResult" nillable="true" type="q28:ArrayOfCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFleetCarsAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fleetId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFleetCarsAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFleetCarsAmountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkerCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="car" nillable="true" type="q29:Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkerCarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkerCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="car" nillable="true" type="q30:Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkerCarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkerCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="car" nillable="true" type="q31:Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkerCarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fleetID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetTransactionsResult" nillable="true" type="q32:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsByCarID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="carID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsByCarIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetTransactionsByCarIDResult" nillable="true" type="q33:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRejectedRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fleetID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRejectedRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetRejectedRequestsResult" nillable="true" type="q34:ArrayOfRejectedRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>